@model Igreja.WebApp.Models.LoginViewModel

<main id="container">
    <form asp-action="AtualizarMembro" asp-controller="Cadastro" method="get" id="login_form">
        <!-- FORM HEADER -->
        <div id="form_header">
            <h1>Editar</h1>
            <i id="mode_icon" class="fa-solid fa-moon"></i>
        </div>
        <!-- INPUTS -->
                <!-- EMAIL -->
                <div class="input-box">
                    <label for="email">
                        Email
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                           <dd>@Model.Email</dd>
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </label>
                </div>

                <!-- PASSWORD -->
                <div class="input-box">
                    <label for="senha">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                        <dd>@Model.Senha</dd>  
                        @Html.ValidationMessageFor(x => x.Senha)
                        </div>
                    </label>

                   
                </div>
            </div>

            <!-- Cadastrar BUTTON -->
            <button type="submit" id="login_button">

                Cadastrar

            </button>
    </form>
</main>