@model Guid
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Options -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Title -->
	<title>Homepage 1</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
	<!-- Slick Slider -->
	<link rel="stylesheet" type="text/css" href="~/css/slick.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="~/images/LogoIPB60x50.png">
	<!-- Animate on scroll -->
	<link rel="stylesheet" type="text/css" href="~/css/aos.css">
	<!-- Animate -->
	<link rel="stylesheet" type="text/css" href="~/css/animate.min.css">
	<!-- Fancy Box -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="~/css/color.css">
	<!-- Responsive -->
	<link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>
<body>
	<!-- Hero One here -->
        <section class="hero-one">
			<div class="hero-one-slider">
				<div>
				<video controls autoplay="autoplay">
				<source src="~/videos/IgrejaVideoTop.mp4" type="video/mp4" alt="hero-one-slider">
				</video>
					<div class="hero-data text-center">
						<h1>Igreja Presbiteriana de Araxá<br></h1>
						<p>Sejam Bem-Vindos!</p>
					</div>
				</div>
			</div>
		</section>
	<!-- Hero One End -->
	<!-- Fellowship Start -->
	<section class="gap fellowship">
		<div class="container">
			<h2 class="text-center mx-auto">Nós nos reunimos para inspiração, comunhão e orientação no discipulado cristão.</h2>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
					<div class="offer text-center">
						<span>
							<img src="~/images/wedding.svg" alt="Wedding">
						</span>

						<h3><a href="JavaScript:void(0)">Missão</a></h3>
						<p class="mx-auto">Vida cristã autêntica, em comunhão com Cristo – o Senhor da Igreja;</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="400" data-aos-duration="700">
					<div class="offer text-center">
						<span>
							<img src="~/images/pray.svg" alt="Pray">
						</span>
						<h3><a href="JavaScript:void(0)">Visão</a></h3>
						<p class="mx-auto">Apresentar o Evangelho de Jesus Cristo de forma a alcançar novos discípulos.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
					<div class="offer text-center">
						<span>
							<img src="~/images/bird.svg" alt="Bird">
						</span>
						<h3><a href="JavaScript:void(0)">Valores</a></h3>
						<p class="mx-auto">Compromisso com o Reino de Deus e fidelidade à sua Palavra.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fellowship End -->
	<!-- CountDown Start -->
	<div class="theme-bg-clr countdown">
		<div class="parallax pattren" src="~/images/Pattren.jpg"></div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
					<div class="counter-data">
						<a href="JavaScript:void(0)" class="d-flex text-white w-lg-75 font-bold">Proximo momento solene de adoração a Deus</a>
						<ul>
							<li><svg fill="#fff" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m448 64h-21.332031v-42.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031h-21.332031c-11.777344 0-21.332031 9.558594-21.332031 21.332031v42.667969h-213.335938v-42.667969c0-11.773437-9.554687-21.332031-21.332031-21.332031h-21.332031c-11.777344 0-21.335938 9.558594-21.335938 21.332031v42.667969h-21.332031c-35.285156 0-64 28.714844-64 64v320c0 35.285156 28.714844 64 64 64h384c35.285156 0 64-28.714844 64-64v-320c0-35.285156-28.714844-64-64-64zm21.332031 384c0 11.753906-9.578125 21.332031-21.332031 21.332031h-384c-11.753906 0-21.332031-9.578125-21.332031-21.332031v-233.8125h426.664062zm0 0" /></svg>Domingo, 10 de dezembro de 2023</li>
							<li><svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 0c-4.962 0-9 4.066-9 9.065 0 7.103 8.154 14.437 8.501 14.745.143.127.321.19.499.19s.356-.063.499-.189c.347-.309 8.501-7.643 8.501-14.746 0-4.999-4.038-9.065-9-9.065zm0 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z" /></svg>R. Calimério Guimarães, 307 - Centro, Araxá</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
					<div id="countdown">
						<div id='tiles'></div>
						<ul class="labels">
							<li>Days</li>
							<li>Hours</li>
							<li>Mins</li>
							<li>Secs</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CountDown End -->
	<!-- About One Start -->
	<section class="gap no-top about-one">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="about-data">
						<h2>Quem Somos</h2>
						<p>
							A igreja Presbiteriana de Araxá está há mais de 80 anos localizada na rua Calimério Guimarães.
							Tem como ênfase a busca do conhecimento da Palavra de Deus, a Bíblia sagrada, e tem como meta a celebração de um culto bíblico, que promova, em sua adoração pública, o mais alto ideal – a Glória de Deus!
							A igreja Presbiteriana é um ramo da Reforma Protestante do século XVI, que anuncia a soberania de Deus, bem como cinco princípios importantes: Só a fé, só a graça, só Cristo, Só a Palavra e Só a Deus glória!
						</p>
					</div>
					<div class="about-gallery gallery">
						<figure>
							<img src="https://ipbaraxa.com.br/wp-content/uploads/2022/12/grupos-pequenos.jpg" alt="about image">
							<a data-fancybox="gallery" src="https://ipbaraxa.com.br/wp-content/uploads/2022/12/grupos-pequenos.jpg"><img src="~/images/plus.svg" alt="Plus"></a>
						</figure>
						<figure>
							<img src="https://ipbaraxa.com.br/wp-content/uploads/2022/12/grupos-pequenos-2.jpg" alt="about image">
							<a data-fancybox="gallery" src="https://ipbaraxa.com.br/wp-content/uploads/2022/12/grupos-pequenos-2.jpg"><img src="~/images/plus.svg" alt="Plus 1"></a>
						</figure>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="prayers-slider green-bg">
						<div>
							<img class="img-fluid w-100" src="https://ipbaraxa.com.br/wp-content/uploads/2022/11/ump-ipbaraxa-03.jpg" alt="About Image">
							<div class="slider-data">
								<h2 class="text-white">UMP Jovens</h2>
								<h3 class="text-white">União de Mocidade Presbiteriana</h3>
							</div>
						</div>
						<div>
							<img class="img-fluid w-100" src="https://ipbaraxa.com.br/wp-content/uploads/2022/11/upa-ipbaraxa-03.jpg" alt="about image 1">
							<div class="slider-data">
								<h2 class="text-white">UPA</h2>
								<h3 class="text-white">União Presbiteriana de Adolescentes</h3>
							</div>
						</div>
						<div>
							<img class="img-fluid w-100" src="https://ipbaraxa.com.br/wp-content/uploads/2022/11/UHP-1024x767.jpg" alt="about image 3">
							<div class="slider-data">
								<h2 class="text-white">UPH</h2>
								<h3 class="text-white">União Presbiteriana de Homens</h3>
							</div>
						</div>
						<div>
							<img class="img-fluid w-100" src="https://ipbaraxa.com.br/wp-content/uploads/2022/11/0e041ae2-d558-485e-9d9f-c6e5b1dc104e-1024x766.jpg" alt="about image 4">
							<div class="slider-data">
								<h2 class="text-white">UCP</h2>
								<h3 class="text-white">União de Crianças Presbiterianas</h3>
							</div>
						</div>
						<div>
							<img class="img-fluid w-100" src="https://ipbaraxa.com.br/wp-content/uploads/2022/11/d38079bd-c8ef-4019-9f39-0de66d9606e4.jpg" alt="about image 4">
							<div class="slider-data">
								<h2 class="text-white">SAF</h2>
								<h3 class="text-white">Sociedade Auxiliadora Feminina</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About One End -->
	<!-- Digital Ministry Start -->
	<section class="gap digital-ministry green-overlay">
		<div class="parallax" img src="~/images/IPB1920x730.jpg"></div>
		<div class="container">
			<div class="heading">
				<h2 class="text-white mx-auto">Ministério Digital - Transmissões gravadas de estudos bíblicos de serviços ao vivo</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="dg-counter text-center">
						<h3 class="text-white"><span class="counter">607</span></h3>
						<p class="text-white mx-auto">Vídeos</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="dg-counter text-center">
						<h3 class="text-white"><span class="counter">42.742</span></h3>
						<p class="text-white mx-auto">visualizações</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="dg-counter text-center">
						<h3 class="text-white"><span class="counter">546</span></h3>
						<p class="text-white mx-auto">Inscritos</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="dg-counter text-center">
						<h3 class="text-white"><span class="counter">3</span></h3>
						<p class="text-white mx-auto">Congregações</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Digital Ministry End -->
	<!-- Pastor Start -->
	<section class="gap no-top pastor">
		<div class="container">
			<div class="heading">
				<img src="~/images/SimboloPresbiteriana50x65.png" alt="Heading Image">
				<h2>Conheça nossos pastores</h2>
			</div>
			<div class="row margin justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-12 p-lg-0">
					<div class="profile">
						<img class="img-fluid w-100" src="~/images/RevClodoaldo.png" alt="Pastor Image">
						<div class="meta green-bg">
							<a class="font-bold text-white" href="pastor-detail.html">Clodoaldo Caldas</a>
							<p class="font-bold text-white">Pastor Titular</p>
							<div class="social">
								<ul class="social-medias">
									<li><a href="https://www.instagram.com/clodoaldocaldas"><img src="~/images/instagram.svg" alt="instagram"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-lg-0">
					<div class="profile">
						<img class="img-fluid w-100" src="~/images/RevJefferson.png" alt="Pastor Image">
						<div class="meta green-bg">
							<a class="font-bold text-white" href="pastor-detail.html">Jefferson Lemos</a>
							<p class="font-bold text-white">Pastor Auxiliar</p>
							<div class="social">
								<ul class="social-medias">
									<li><a href="https://www.instagram.com/jeffersonla"><img src="~/images/instagram.svg" alt="instagram"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-lg-0">
					<div class="profile">
						<img class="img-fluid w-100" src="~/images/RevSamuel.png" alt="Pastor Image">
						<div class="meta green-bg">
							<a class="font-bold text-white" href="pastor-detail.html">Samuel Barros</a>
							<p class="font-bold text-white">Pastor Auxiliar</p>
							<div class="social">
								<ul class="social-medias">
									<li><a href="JavaScript:void(0)"><img src="~/images/instagram.svg" alt="instagram"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Pastor End -->
	<!-- Mass Timing Start -->
	<section class="gap mass-timing light-bg">
		<div class="container">
			<div class="row">
				<div class="head">
					<div class="meta">
						<p>CONFIRA OS</p>
						<h2>HORÁRIOS DE CULTOS</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="expand">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Quarta</th>
						<th scope="col">Sabado</th>
						<th scope="col">Domingo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td><span>09:00</span>Escola Biblica Dominical</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>19:30</span>Estudo Biblico</td>
						<td><span>19:30</span>Reunião de Jovens</td>
						<td><span>19:30</span>Culto Solene</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- Mass Timing End -->
	<!-- Subscribe Start -->
	<section class="gap subscribe-two">
		<div class="container">
			<div class="row">
				<div class="data">
					<h2>Adoramos orar por você!</h2>
					<p class="m-auto font-bold">Envie-nos seu pedido de oração ou sugestão no nosso e-mail <span>ipasecretaria18@gmail.com</span></p>
					<form>
						<div class="shape">
							<input type="text" name="Text" placeholder="Por favor, digite sua oração...">
						</div>
						<button type="submit" class="theme-btn">Enviar Oração</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscribe End -->
	<!-- Footer One Start -->
	<footer class="gap footer-one no-bottom green-overlay">
		<div class="parallax" style="background-image: url(https://scontent.faax1-1.fna.fbcdn.net/v/t1.6435-9/83929517_102524924645681_4953547127218241536_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeGKRwB4t_U1oCXPpVDTtlpXO8_rgRssBj87z-uBGywGP-CGiUmL0CFVu-7QaMYF-zU&_nc_ohc=2_5vRhHggzoAX9Gp-Ca&_nc_oc=AQn8_lf4VrSN5JJpXnTbXG9ezUZUMqRch3pF0Xf-2b2KcgwG2T_o-SLYyHGgIEX7G6s&_nc_ht=scontent.faax1-1.fna&oh=00_AfAztEtUwLoTzxWma0PfQgRW0HbON-mNaUO4aWtsG-21cg&oe=65950E33);"></div>
		<div class="container">
			<div class="copy-right">
				<div class="social">
					<ul class="social-medias">
						<li><a href="JavaScript:void(0)"><img src="~/images/facebook.svg" alt="facebook"></a></li>
						<li><a href="JavaScript:void(0)"><img src="~/images/instagram.svg" alt="instagram"></a></li>
					</ul>
				</div>
				<div class="footer-rights">
					<p class="text-white">© Copyright <span>2023 - Presbiteriana.</span> Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer One End -->
	<!-- Scroll to top -->
	<button id="scrollTop" class="scrollTopStick"><svg viewBox="0 0 490.523 490.523" fill="#fff" height="15"> <path style="fill:#000;" d="M487.411,355.047L252.744,120.38c-4.165-4.164-10.917-4.164-15.083,0L2.994,355.047 c-4.093,4.237-3.976,10.99,0.262,15.083c4.134,3.993,10.687,3.993,14.821,0l227.115-227.115l227.115,227.136 c4.237,4.093,10.99,3.976,15.083-0.261c3.993-4.134,3.993-10.688,0-14.821L487.411,355.047z"></path> <path d="M479.859,373.266c-2.831,0.005-5.548-1.115-7.552-3.115L245.192,143.015L18.077,370.151 c-4.237,4.093-10.99,3.976-15.083-0.262c-3.993-4.134-3.993-10.687,0-14.821l234.667-234.667c4.165-4.164,10.917-4.164,15.083,0 l234.667,234.667c4.159,4.172,4.148,10.926-0.024,15.085C485.388,372.146,482.681,373.265,479.859,373.266z"></path> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></button>
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Waypoint -->
	<script src="~/js/jquery.waypoints.min.js"></script>
	<!-- Counter -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Slick Slider Js -->
	<script src="~/js/slick.min.js"></script>
	<!-- Animate on scroll Js -->
	<script src="~/js/aos.js"></script>
	<!-- Tilt on hover -->
	<script src="~/js/tilt.jquery.js"></script>
	<!-- Fontawesome Js -->
	<script src="~/js/fontawesome.js"></script>
	<!-- Fancybox Js -->
	<script src="~/js/jquery.fancybox.min.js"></script>
	<!-- Custom Js -->
	<script src="~/js/custom.js"></script>
</body>
</html>